<div class="center">
    <h1><%= @city_name %></h1>
    <div class="row">
        <div class="col-sm-6 select-list-form">
            <%= form_with(model: @district, url: "/list", local: true, method: "get") do |f| %>
                <%= f.label "District" %>
                <%= f.select :district_id, options_for_select(District.where(city_id: @city_id).map { |district| [district.name, district.id] }) %>
                <%= f.button  :submit , name: "city_id", value: @city_id %>

            <% end %>
        </div>
        <div class="col-sm-6">
            <%= link_to "Add a new opportunity", new_path, class: "btn btn-lg btn-primary" %>
        </div>
    </div>
    <table class="table table-striped table-hover"> 
        <thead>
            <tr class="table-primary"> 
                <th scope="col">Id</th>
                <th scope="col">Address</th>
                <th scope="col">Size</th>
                <th scope="col">Rooms</th>
                <th scope="col">Floor</th>
                <th scope="col">Listing_price</th>
                <th scope="col">Estimated_price</th>
                <th scope="col">Description</th>
                <th scope="col">Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            <% @opportunity.each do |opportunity| %>
            <tr>
                <td><%= opportunity.id %></td>
                <td><%= opportunity.address %></td>
                <td><%= opportunity.size %></td>
                <td><%= opportunity.rooms %></td>
                <td><%= opportunity.floor %></td>
                <td><%= opportunity.listing_price %></td>
                <td><%= opportunity.estimated_price %></td>
                <td><%= opportunity.description %></td>
                <td><%= link_to "Edit", edit_path(:id => opportunity.id) %> <%= link_to "Delete", opportunity, method: :delete,
                data: { confirm: "Are you sure?" } %></td>
            </tr>
            <% end %>
        <tbody>
    </table>
</div>

