<div class="center">
<h1>Fill in the form below to add a new opportunity</h1>
<div class="row new-form">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: @opportunity, local: true) do |f| %>
            <%= f.label "City" %>
            <%= f.collection_select :city_id, City.order(:name), :id, :name, include_blank: true %>

            <%= f.label "District" %>
            <%= f.grouped_collection_select :district_id, City.order(:name), :districts, :name, :id, :name, include_blank: true %>
            
            <%= f.label :address %>
            <%= f.text_field :address %>

            <%= f.label :size %>
            <%= f.text_field :size %>

            <%= f.label :rooms %>
            <%= f.text_field :rooms %>

            <%= f.label :floor %>
            <%= f.text_field :floor %>

            <%= f.label :listing_price %>
            <%= f.text_field :listing_price %>

            <%= f.label :estimated_price %>
            <%= f.text_field :estimated_price %>

            <%= f.label :description %>
            <%= f.text_field :description %>

            <%= f.submit "Save changes", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
</div>

